@model IEnumerable<GroupProject_Ecommerce.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<h1>Tất cả đơn hàng</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tổng cộng
            </th>
            <th>
                Phí vận chuyển
            </th>
            <th>
                Người đặt
            </th>
            <th>
                Phương thức
            </th>
            <th>
                Thanh toán
            </th>
            <th>
                Ngày đặt
            </th>
            <th>
                Trạng thái đơn hàng
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @if(item.Total != 0)
                {
                    Write(item.Total.ToString("#,##"));
                }
                else Write(0);
            </td>
            <td>
                @if (item.ShippingCost != 0)
                {
                    @item.ShippingCost.ToString("#,##")
                }
                else Write(0);
            </td>
            <td>
                    @item.User.FirstName @item.User.FirstName (@item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMethod.Name)
            </td>
            <td>
                @if (item.Paid)
                    Write("Đã thanh toán");
                else Write("Chưa thanh toán");
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a>
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts {
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
