@model GroupProject_Ecommerce.ViewModels.HomeViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
	<div class="container">
		<p>Kết quả tìm kiếm cho <span class="fw-bold">"@ViewBag.Search"</span></p>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					Tất Cả Sản Phẩm
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Nhẫn">
					Nhẫn
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Dây">
					Dây Chuyền
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Bông">
					Bông Tai
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Lắc">
					Lắc
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Vòng">
					Vòng
				</button>
			</div>
		</div>

		<div class="row isotope-grid">
			@foreach (var product in Model.ImagesWithProducts)
			{
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @product.Product.Category.Name @product.Product.Price">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="~/images/Product/@Url.Content(product.Url)" alt="IMG-PRODUCT">

							<a href="@Url.Action("ProductDetail", "Product", new { id = product.Product.Id })" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Xem Ngay
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="@Url.Action("ProductDetail", "Product", new { id = product.Product.Id })" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									@product.Product.Name
								</a>

								<span class="stext-105 cl3">
									@if (product.Product.DiscountPercent > 0.0)
									{
										<div>
											<span style="text-decoration: line-through">@product.Product.Price.ToString("#,##") đ</span>
											<span style="color: red">-@product.Product.DiscountPercent%</span>
										</div>
										<span style="color: red">
											@{
												var p = product.Product.Price - product.Product.Price * (product.Product.DiscountPercent / 100);
												Write(p.ToString("#,##") + " đ");
											}
										</span>
									}
									else
									{
										Write(product.Product.Price.ToString("##,##") + " đ");
									}
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$('header').addClass('header-v4')
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".filter-button").click(function () {
				var value = $(this).attr('data-filter');

				if (value == "all") {
					$('.isotope-item').show('1000');
				} else {
					$(".isotope-item").not('.' + value).hide('3000');
					$('.isotope-item').filter('.' + value).show('3000');
				}

				$(".filter-button").removeClass("active");
				$(this).addClass("active");
			});
		});
	</script>
}
