@model IEnumerable<GroupProject_Ecommerce.Models.CartItem>

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
}

<!-- Main Menu Section -->

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Checkout</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/Home/Index">Trang chủ</a>
                            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                        </li>
                        <li class="active">Thanh toán</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Tóm tắt đơn hàng</h4>
                            @{
                                double subtotal = 0;
                                foreach (var item in Model)
                                {
                                    <div class="media product-card">
                                        <img class="media-object" src="~/images/Product/@item.Product.Images.First().Url" alt="Image" />
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="product-single.html">@item.Product.Name</a></h4>
                                            <p class="price">@item.Quantity x @{
                                                    var p = item.Product.Price - item.Product.Price * (item.Product.DiscountPercent / 100); Write(p.ToString("#,##"));
                                            } &#x0111</p>
                                            </div>
                                        </div>
                                    subtotal += item.Quantity * p;
                                }
                            }

                            <ul class="summary-prices">
                                <li>
                                    <span>Tổng cộng:</span>
                                    <span class="price">@subtotal.ToString("#,##") &#x0111</span>
                                </li>
                                <li>
                                    <span>Shipping:</span>
                                    <span>Miễn phí vận chuyển toàn quốc</span>
                                </li>
                            </ul>
                            <div class="summary-total">
                                <span>Thành tiền</span>
                                <span>@subtotal.ToString("#,##") &#x0111</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <form class="checkout-form" action="/Cart/ProcessCheckoutCOD" method="post">
                        <div class="block">
                            <h4 class="widget-title">Người nhận</h4>
                            <div class="form-group">
                                <label for="name">Họ và tên</label>
                                <input name="name" class="form-control" id="name" value="@ViewBag.Name" />
                                <span class="text-danger name"></span>
                            </div>
                            <div class="form-group">
                                <label for="phone">Số điện thoại</label>
                                <input name="phone" class="form-control" id="phone" value="@ViewBag.Phone" />
                                <span class="text-danger phone"></span>
                            </div>
                        </div>
                    <div class="block">
                        <h4 class="widget-title">Địa chỉ giao hàng</h4>
                            @{
                                if (!string.IsNullOrEmpty(ViewBag.Address) && ViewBag.Address.Split(";").Length > 1)
                                {
                                    string[] add = ViewBag.Address.Split(";");

                                    <div class="form-group">
                                        <select name="city" class="form-control" id="city">
                                            <option value="-1">Tỉnh/Thành phố</option>
                                            <option class="temp" value="@add[add.Length - 1]" selected>@add[add.Length - 1]</option>
                                        </select>
                                        <span class="text-danger city"></span>
                                    </div>
                                    <div class="form-group">
                                        <select name="district" class="form-control" id="district">
                                            <option value="-1">Quận/Huyện</option>
                                            <option class="temp" value="@add[add.Length - 2]" selected>@add[add.Length - 2]</option>
                                        </select>
                                        <span class="text-danger district"></span>
                                    </div>
                                    <div class="form-group">
                                        <select name="ward" class="form-control" id="ward">
                                            <option value="-1">Phường/Xã</option>
                                            <option class="temp" value="@add[add.Length - 3]" selected>@add[add.Length - 3]</option>
                                        </select>
                                        <span class="text-danger ward"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Địa chỉ cụ thể</label>
                                        <input name="address" value="@add[add.Length - 4]" class="form-control" id="address" />
                                        <span class="text-danger address"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <select name="city" class="form-control" id="city">
                                            <option value="-1">Tỉnh/Thành phố</option>
                                        </select>
                                        <span class="text-danger city"></span>
                                    </div>
                                    <div class="form-group">
                                        <select name="district" class="form-control" id="district">
                                            <option value="-1">Quận/Huyện</option>
                                        </select>
                                        <span class="text-danger district"></span>
                                    </div>
                                    <div class="form-group">
                                        <select name="ward" class="form-control" id="ward">
                                            <option value="-1">Phường/Xã</option>
                                        </select>
                                        <span class="text-danger ward"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Địa chỉ cụ thể</label>
                                        <input name="address" class="form-control" id="address" />
                                        <span class="text-danger address"></span>
                                    </div>
                                }
                        }
                    </div>
                    <div class="block">
                        <h4 class="widget-title">Phương thức thanh toán</h4>
                        <div>
                            <div class="checkout-product-details">
                                <div class="payment">
                                    <div class="card-details">
                                        @Html.AntiForgeryToken()
                                        <div class="row px-3">
                                            <button type="button" onclick="changeVNPayMethod(false)" class="col cod border border-primary rounded d-flex justify-content-center align-items-center">
                                                Thanh toán khi nhận hàng
                                            </button>
                                            <button type="button" onclick="changeVNPayMethod(true)" class="col vnpay verified-icon border rounded d-flex justify-content-center align-items-center">
                                                <img src="~/images/icons/vnpay.png">
                                            </button>
                                        </div>
                                        <div class="row pt-5">
                                            <div class="col d-flex justify-content-center align-items-center">
                                                <button type="submit" class="paySubmit flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                                                    Xác nhận đặt hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form asp-controller="Cart" asp-action="ProcessCheckout" method="post">
                    <div class="form-group">
                        <!-- Các trường dữ liệu khác nếu cần -->
                    </div>
                    <button type="submit" class="btn btn-primary">Xác nhận mua hàng</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var paySubmit = $('.paySubmit')
        var checkoutForm = $('.checkout-form')
        var itemCOD = $('.cod')
        var itemVNPay = $('.vnpay')

        function changeVNPayMethod(vnpay) {
            if (vnpay) {
                itemVNPay.addClass('border-primary')
                itemCOD.removeClass('border-primary')
                checkoutForm.attr('action', '/Cart/ProcessCheckoutVNPay')
                paySubmit.html("Thanh toán ngay")
            }
            else {
                itemCOD.addClass('border-primary')
                itemVNPay.removeClass('border-primary')
                checkoutForm.attr('action', '/Cart/ProcessCheckoutCOD')
                paySubmit.html("Xác nhận đặt hàng")
            }
        }
        
        var host = 'https://vapi.vnappmob.com'
        var city = $("#city")
        var district = $('#district')
        var ward = $('#ward')
        var address = $('#address')

        $.get(host + '/api/province', (res) => {
            res.results.forEach((val) => {
                city.append(`<option data-city=${val.province_id} value='${val.province_name}'>${val.province_name}</option>`)
            })
        })

        city.on("change", () => {
            $('.temp').remove()
            district.empty().append("<option value='-1'>Quận/Huyện</option>")
            $('.city').text('')
            ward.empty().append("<option value='-1'>Phường/Xã</option>")
            $.get(host + '/api/province/district/' + city.find(":selected").data("city"), (res) => {
                console.log(res)
                res.results.forEach((val) => {
                    district.append(`<option data-district=${val.district_id} value='${val.district_name}'>${val.district_name}</option>`)
                })
            })
        })
        
        district.on("change", () => {
            ward.empty().append("<option value='-1'>Phường/Xã</option>")
            $('.district').text('')
            $.get(host + '/api/province/ward/' + district.find(":selected").data("district"), (res) => {
                res.results.forEach((val) => {
                    ward.append(`<option value='${val.ward_name}'>${val.ward_name}</option>`)
                })
            })
        })
        ward.on("change", () => {
            $('.ward').text('')
        })

        address.on("keyup", () => {
            if (address.val().length > 0) {
                $('.address').text('')
            }
            else $('.address').text("Vui lòng nhập địa chỉ cụ thể")
        })

        $('#name').on("keyup", () => {
            if ($('#name').val().length > 0) {
                $('.name').text('')
            }
            else $('.name').text("Vui lòng nhập Họ tên người nhận")
        })

        $('#phone').on("keyup", () => {
            if ($('#phone').val().length > 0) {
                $('.phone').text('')
            }
            else $('.phone').text("Vui lòng nhập số điện thoại liên hệ")
        })

        $('.checkout-form').on("submit", (e) => {
            if (address.val().length < 1) {
                e.preventDefault()
                $('.address').text("Vui lòng nhập địa chỉ cụ thể")
            }else $('.address').text('')

            if ($('#name').val().length < 1) {
                e.preventDefault()
                $('.name').text("Vui lòng nhập Họ tên người nhận")
            } else $('.name').text('')

            if ($('#phone').val().length < 1) {
                e.preventDefault()
                $('.phone').text("Vui lòng nhập số điện thoại liên hệ")
            } else $('.phone').text('')

            if (city.val() === '-1') {
                e.preventDefault()
                $('.city').text("Vui lòng chọn Tỉnh/Thành phố")
            }else $('.city').text

            if (district.val() === '-1') {
                e.preventDefault()
                $('.district').text("Vui lòng chọn Quận/Huyện")
            } else $('.district').text('')

            if (ward.val() === '-1') {
                e.preventDefault()
                $('.ward').text("Vui lòng chọn Phường/Xã")
            } else $('.ward').text('')
        })

    </script>
}
